<p>
  <b>Nome:</b>
  <%=h @tarefa.Nome %>
</p>

<p>
  <b>Descricao:</b>
  <%=h @tarefa.Descricao %>
</p>

<p>
  <b>Dtinicio:</b>
  <%=h @tarefa.DtInicio %>
</p>

<p>
  <b>Dttermino:</b>
  <%=h @tarefa.DtTermino %>
</p>

<p>
  <b>Prioridade:</b>
  <%=h @tarefa.Prioridade %>
</p>

<p>
  <b>Status:</b>
  <%=h @tarefa.Status %>
</p>

<p>
  <b>Progresso:</b>
  <%=h @tarefa.Progresso %>
</p>


<%= link_to 'Edit', edit_tarefa_path(@tarefa) %> |
<%= link_to 'Back', tarefas_path %>
