<% form_for([@projeto, @tarefa, @comment], :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.submit 'Salvar' %>
  </p>
<% end %>