<h3>Novo comentário</h3>

<% form_for([@projeto, @tarefa, @comment]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Criar' %>
  </p>
<% end %>

<%= link_to 'Voltar', projeto_tarefa_comments_path(@projeto, @tarefa) %>