<% form_for(@projeto) do |f| %>
<%= f.error_messages %>
<ul class="orcamento">
	<li>
		Nome
	</li>
	<li>
		<%= f.text_field :Nome, :class => "txt" %>
	</li>
	<li>
		Data Inicial
	</li> 
	<li>
		<%= f.text_field :DtInicio, :class => "txt" %>
		<img src="/images/date.png" />
	</li>
	<li>
		Data Final
	</li> 
	<li>
		<%= f.text_field :DtTermino, :class => "txt" %>
		<img src="/images/date.png" />
	</li>
	<li>
		Orçamento
	</li>
	<li>
		<%= f.text_field :Orcamento, :class => "txt" %>
	</li>
	<li>
		<%= f.submit "SALVAR", :class => "sub" %>
	</li>
</ul>
<% end %>