<h1>Editing projeto</h1>

<% form_for(@projeto) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Nome %><br />
    <%= f.text_field :Nome %>
  </p>
  <p>
    <%= f.label :DtInicio %><br />
    <%= f.date_select :DtInicio %>
  </p>
  <p>
    <%= f.label :DtTermino %><br />
    <%= f.date_select :DtTermino %>
  </p>
  <p>
    <%= f.label :Orcamento %><br />
    <%= f.text_field :Orcamento %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @projeto %> |
<%= link_to 'Back', projetos_path %>
