<h1>Lista de Projetos</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Data de Início</th>
    <th>Data de Término</th>
    <th>Orçamento</th>
  </tr>

<% for projeto in @projetos %>
  <tr>
    <td><%=h projeto.Nome %></td>
    <td><%=h projeto.DtInicio %></td>
    <td><%=h projeto.DtTermino %></td>
    <td><%=h projeto.Orcamento %></td>
    <td><%= link_to 'Mostrar', projeto %></td>
    <td><%= link_to 'Editar', edit_projeto_path(projeto) %></td>
    <td><%= link_to 'Apagar', projeto, :confirm => 'Deseja mesmo excluir o projeto ?', :method => :delete %></td>
  </tr>
<% end %>
</table>