<p>
  <b>Nome:</b>
  <%=h @projeto.Nome %>
</p>

<p>
  <b>Data de Início:</b>
  <%=h @projeto.DtInicio %>
</p>

<p>
  <b>Data de Término:</b>
  <%=h @projeto.DtTermino %>
</p>

<p>
  <b>Orçamento:</b>
  <%=h @projeto.Orcamento %>
</p>


<%= link_to 'Editar', edit_projeto_path(@projeto) %> |
<%= link_to 'Voltar', projetos_path %>