<% form_for([@projeto, @pessoa]) do |f| %>
<%= f.error_messages %>
<ul class="orcamento">
	<li>
		Nome
	</li>
	<li>
		<%= f.text_field :Nome, :class => "txt" %>
	</li>
	<li>
		Email
	</li> 
	<li>
		<%= f.text_field :Email, :class => "txt" %>
	</li>
	<li>
		Senha
	</li> 
	<li>
		<%= f.password_field :Senha, :class => "txt", :value => "" %>
	</li>
	<li>
		<%= f.submit "SALVAR", :class => "sub" %>
	</li>
</ul>
<% end %>