<h3>Lista de Pessoas</h3>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
  </tr>

<% for pessoa in @pessoas %>
  <tr>
  	<td>
	<% if @projeto.nil? %>
		<%= link_to pessoa.Nome, pessoa %>
	<% else %>
		<%= link_to pessoa.Nome, projeto_pessoa_path(@projeto, pessoa) %>
	<% end %>
	</td>
    <td><%=h pessoa.Email %></td>
  </tr>
<% end %>
</table>

<br />

<% if @projeto.nil? %>
<%= link_to 'Nova pessoa', new_pessoa_path %>
<% else %>
<%= link_to 'Nova pessoa', new_projeto_pessoa_path %>
<% end %>