<h3>Lista de Pessoas</h3>

<% for pessoa in @pessoas %>

<div class="pessoas">
	<div id="foto">
	<% if @projeto.nil? %>
		<%= link_to(image_tag(gravatar_url_for(pessoa.Email), {:width => 48, :height => 48}), pessoa_path(pessoa)) %>
	<% else %>
		<%= link_to(image_tag(gravatar_url_for(pessoa.Email), {:width => 48, :height => 48}), projeto_pessoa_path(@projeto, pessoa)) %>
	<% end %>
	</div>
	<strong>
	<% if @projeto.nil? %>
		<%= link_to pessoa.Nome, pessoa_path(pessoa) %>
	<% else %>
		<%= link_to pessoa.Nome, projeto_pessoa_path(@projeto, pessoa) %>
	<% end %>
	</strong>
	<br />
<% if @projeto.nil? %>
		<%= link_to pessoa.Email, pessoa_path(pessoa) %>
<% else %>
		<%= link_to pessoa.Email, projeto_pessoa_path(@projeto, pessoa) %>
<% end %>
</div>

<% end %>

<% if @projeto.nil? %>
<%= link_to 'Nova pessoa', new_pessoa_path %>
<% else %>
<%= link_to 'Nova pessoa', new_projeto_pessoa_path %>
<% end %>