<h3>Lista de Pessoas</h3>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
  </tr>

<% for pessoa in @pessoas %>
  <tr>
    <td><%=h pessoa.Nome %></td>
    <td><%=h pessoa.Email %></td>
    <td>
    <% if @projeto.nil? %>
		<%= link_to 'Mostrar', pessoa %>
	<% else %>
		<%= link_to 'Mostrar', projeto_pessoa_path(@projeto, pessoa) %>
	<% end %>
	</td>
    <td>
    <% if @projeto.nil? %>
		<%= link_to 'Editar', edit_pessoa_path(pessoa) %>
	<% else %>
		<%= link_to 'Editar', edit_projeto_pessoa_path(@projeto, pessoa) %>
	<% end %>
	</td>
    <td>
    <% if @projeto.nil? %>
		<%= link_to 'Apagar', pessoa, :confirm => 'Are you sure?', :method => :delete %>
	<% else %>
		<%= link_to 'Apagar', projeto_pessoa_path(@projeto, pessoa), :confirm => 'Are you sure?', :method => :delete %>
	<% end %>
	</td>
  </tr>
<% end %>
</table>

<br />

<% if @projeto.nil? %>
<%= link_to 'Nova pessoa', new_pessoa_path %>
<% else %>
<%= link_to 'Nova pessoa', new_projeto_pessoa_path %>
<% end %>