<h1>Lista de Pessoas</h1>

<table>
  <tr>
    <th>Nome</th>
    <th>Email</th>
  </tr>

<% for pessoa in @pessoas %>
  <tr>
    <td><%=h pessoa.Nome %></td>
    <td><%=h pessoa.Email %></td>
    <td><%= link_to 'Mostrar', pessoa %></td>
    <td><%= link_to 'Editar', edit_pessoa_path(pessoa) %></td>
    <td><%= link_to 'Apagar', pessoa, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova pessoa', new_pessoa_path %>
