<p>
  <b>Nome:</b>
  <%=h @pessoa.Nome %>
</p>

<p>
  <b>Email:</b>
  <%=h @pessoa.Email %>
</p>

<% if @projeto.nil? %>
<%= link_to 'Editar', edit_pessoa_path(@pessoa) %> |
<% else %>
<%= link_to 'Editar', edit_projeto_pessoa_path(@projeto, @pessoa) %> |
<% end %>

<% if @projeto.nil? %>
<%= link_to 'Voltar', pessoas_path %> |
<% else %>
<%= link_to 'Voltar', projeto_pessoas_path %> |
<% end %>

<% if @projeto.nil? %>
<%= link_to 'Apagar', @pessoa, :confirm => 'Are you sure?', :method => :delete %>
<% else %>
<%= link_to 'Apagar', projeto_pessoa_path(@projeto, @pessoa), :confirm => 'Are you sure?', :method => :delete %>
<% end %>