<p>
  <b>Nome:</b>
  <%=h @pessoa.Nome %>
</p>

<p>
  <b>Email:</b>
  <%=h @pessoa.Email %>
</p>

<p>
  <b>Senha:</b>
  <%=h @pessoa.Senha %>
</p>

<p>
  <b>Ultimoacesso:</b>
  <%=h @pessoa.UltimoAcesso %>
</p>


<%= link_to 'Edit', edit_pessoa_path(@pessoa) %> |
<%= link_to 'Back', pessoas_path %>
