<% if !@id.nil? %>
	<ul>
		<li id="<%= class_aba(:projetos) %>">
			<%= link_to 'Últimas atualizações', projeto_path(@projeto) %>
		</li>
		<li id="<%= class_aba(:tarefas) %>">
			<%= link_to 'Tarefas', projeto_tarefas_path(@projeto) %>
		</li>
		<li id="<%= class_aba(:pessoas) %>">
			<%= link_to 'Pessoas', projeto_pessoas_path(@projeto) %>
		</li>
		<li id="<%= class_aba(:configuracao) %>">
			<%= link_to 'Configurações do projeto', edit_projeto_path(@projeto) %>
		</li>
	</ul>
<% end %>